.main {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: Roboto, sans-serif;
    background-color: #000;
    color: #fff;
}
.category_title{
  padding: 10px;
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid gray;
  justify-content: space-between;
}
.category_title h1{
  font-size: 22px;
}
.big_box_news{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
.news_box{
  margin: 8px 5px 8px 5px;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  background-color: #111;
}
.news_image{
  width: 250px;
  border-radius: 5px;
  object-fit: contain;
}
.news_title{
  font-size: 18px;
  color: rgb(191, 208, 255);
  width: 250px;
  object-fit: contain;
}
.news_title:hover{
  cursor: pointer;
  text-decoration: underline;
}
.news_description:hover{
  cursor: pointer;
  text-decoration: underline;
}
.news_description{
  font-size: 14px;
  width: 250px;
  height: 49px;
  object-fit: contain;
  overflow: hidden;
}
@media (max-width: 500px) {
  .category_title{
    padding: 4px;
    width: 90%;
    margin: 20px auto;
  }
  .category_title h1{
    font-size: 16px;
  }
  .news_box{
    background-color: #000;
    border-radius: 0;
    border-bottom: 1px solid #fff;
  }
  .news_image{
    max-width: 200px;
  }
  .news_title{
    font-size: 16px;
    width: 200px;
    object-fit: contain;
  }
  .news_description{
    font-size: 12px;
    width: 200px;
    height: 30px;
  }
}
@media (max-width: 300px) {
  .category_title{
    margin: 15px auto;
  }
  .category_title h1{
    font-size: 14px;
  }
}