.all_content{
    display: inline;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 90%;
}
.main_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-around;
}
.category_name{
    font-size: 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.category_box{
    display: block;
    padding: 2px;
}
.news_box{
    margin: 6px 5px 6px 5px;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    background-color: #111;
}
.news_image{
    width: 250px;
    border-radius: 5px;
    object-fit: contain;
}
.news_title{
    font-size: 19px;
    color: rgb(191, 208, 255);
    width: 250px;
    object-fit: contain;
}
.news_title:hover{
    cursor: pointer;
    text-decoration: underline;
}
.news_description:hover{
    cursor: pointer;
    text-decoration: underline;
}
.news_description{
    font-size: 15px;
    width: 250px;
    height: 49px;
    object-fit: contain;
    overflow: hidden;
}