.all_content{
    display: inline;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 90%;
}
.main_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-around;
}