.nav_bar {
    width: 100vw;
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.nav_bar div{
    margin-left: 20px;
}
.nav_bar h1 {
    font-size: 30px;
}
.nav_bar h3 {
    color: #ab9cff;
    font-size: 17px;
}